.texto_d{
    color: #EEEEEE;
    margin-left: 3%;
    margin-right: 30%;
    margin-bottom: 1.5%;
}

.container-description{
    text-align: left;
    width: 100%;
}

img{
    margin-left: 3%;
    margin-right: 30%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;

    width: 45rem;
    height: 15rem;
    
}