.texto_d{
    color: #EEEEEE;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding: 0px;
}

.lista_d{
    color: #EEEEEE;
    margin-left: 7%;
    margin-right: 40%;
    margin-bottom: 1.5%;
    padding: 0px;
}

.container-description{
    text-align: left;
    width: 100%;
    margin-top: 10%;
}

img{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;

    width: 45rem;
    height: 15rem;
    
}