@font-face {
    font-family: "ChivoMono";
    src: url("../fonts/Chivo_Mono/ChivoMono-Italic-VariableFont_wght.ttf");

}

@font-face {
    font-family: "SourceSans";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");

}

@font-face {
    font-family: "NotoSans";
    src: url("../fonts/Noto_Sans/NotoSans-SemiBold.ttf");

}

.texto_d{
    font-family: SourceSans;
    
}