/*.div{*/
/*  width: 100%;*/
/*  visibility: hidden;*/
/*}*/

/*html{*/
/*  background-color: #EFF0F1;*/
/*}*/

.app-container{
  height: auto;
  width: auto;
  min-height: 100vh;
  min-width: 100vw;
  
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: #393E46;
}